.cargar{
    margin-top: 2px; 
}
body{
    background-color: #ffffff !important;
}

.eform {
    color: #bf1650 !important;
  }
 
  
  .eform::before {
    display: inline;
    content: "⚠ ";
    
  }
.divmap{
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
.card-header{
    width: 102%;
    background-color: rgb(128, 130, 133) !important;
    color: white;
}
#ineButton,#georeferenciar{
    background-color: rgb(179,40,45);
    border-color: rgb(128, 130, 133);
    margin-bottom: 2rem;
}
.card-body {
   
    top: 50px;
    bottom: 100px;
    left: 0;
    
    width: 102%;
    max-height: 34rem;
    overflow-y: auto;
}

input:focus, textarea:focus, select:focus, .p-multiselect:focus{
    outline: none !important;
    border-color:rgb(179,40,45) !important;
    box-shadow: 0 0 3px rgb(179,40,45) !important;
    -moz-box-shadow: 0 0 3px rgb(179,40,45)  !important;
    -webkit-box-shadow: 0 0 3px rgb(179,40,45)  !important;
  }



.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px !important;
    text-align: center !important;
    font-size: 12px !important;
    line-height: 1.42857 !important;
}
.btn-circle i {
    margin-left: -6px !important;
}
#division{
    border: 1px solid red;
}


.search {
    position: relative;
    float: right;
}
.search .input-group {
    min-width: 200px;
    position: absolute;
    right: 0;
}
/*BOTONES LISTA APOYOS*/
table.table td a.view {
    color: #AF272F;
}
table.table td a.edit {
    color: #235b4E;
}
table.table td a.delet {
    color: #BC955C;
}
.divmap{
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    
    padding-left: 3rem;
    padding-right: 3rem;
}
/*BOTON NUEVO*/
.search a:focus, .search a, .search a:hover {
    border-color:  #6d6d6d;
    background-color:#4F4F4F;
    color: white;
    
}
.search-box i {
    color: black;
    font-size: 19px;
    position: relative;
    top: 2px;
    left: -10px;
    border-right: 25px;
}

.distritos{
    margin-top: 25px;
}
.apoyos{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.apoyo{
width: 1200px;
height: auto;
background-color: lightgray;
border: 1px solid black;
margin: 10px;
display: flex;
padding: 10px;
}
.apoyo h3{
    margin: 10px;
    font-size: 12px;
}
.preview{
    width: 40%;
    margin-top: 50;
    display: flex;
    flex-direction: column;
}
.preview img{
    width: 20rem;
    margin-left: -10px;
    margin-top: 2rem;
}

@media only screen and (min-width: 749px) and (max-width:890px) {
    .preview img{
        width: 20rem;
        
    }
    .preview img{
        margin-top: 9px;
        margin-left: -8px;
    }
    .card-header{
        width: 102%;
    }
    .card-body {
       
        top: 50px;
        bottom: 100px;
        left: 0;
        
        width: 102%;
        max-height:auto;
        overflow-y: auto;
    }
    
  }
  
  @media only screen and (min-width: 355px) and (max-width:414px) {
    .preview img{
        width: 8rem;
        
    }
    .preview img{
        margin-top: 40px;
        margin-left: 8px;
    }
    .delete {
        position: absolute;
        margin-top:22px;
        margin-left: -22px !important;
        
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.912);
        color: rgb(231, 28, 28);
        font-size: 16px;
        
        border: none;
        cursor: pointer;
        border-radius: 1px;
        text-align: center;
      }
      #limpiar{
        margin-bottom: 12px;
      }
      #georeferenciar{
        margin-left: -18px;
      }
   
  }
.delete{
  position: absolute;
  top: 18%;
  margin-left: 15px;
  
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.912);
  color: rgb(231, 28, 28);
  font-size: 16px;
  
  border: none;
  cursor: pointer;
  border-radius: 1px;
  text-align: center;
}
.example{
    width: 450px;
}

body {
    color: #010610;
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
}
.table-responsive {
    margin: 30px 0;
}
.table-wrapper {
	min-width: 1000px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    font-size: 15px;
    padding-bottom: 10px;
    margin: 0 0 10px;
    min-height: 45px;
}
.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}
.table-title select {
    border-color: #ddd;
    border-width: 0 0 1px 0;
    padding: 3px 10px 3px 5px;
    margin: 0 5px;
}
.table-title .show-entries {
    margin-top: 7px;
}
.search-box {
    position: relative;
    float: right;
}
.search-box .input-group {
    min-width: 200px;
    position: absolute;
    right: 0;
}
.search-box .input-group-addon, .search-box input {
    border-color: #ddd;
    border-radius: 0;
}
.search-box .input-group-addon {
    border: none;
    border: none;
    background: transparent;
    position: absolute;
    z-index: 9;
}
.search-box input {
    height: 34px;
    padding-left: 28px;		
    box-shadow: none !important;
    border-width: 0 0 1px 0;
}
.search-box input:focus {
    border-color: #3FBAE4;
}
.search-box i {
    color: #a0a5b1;
    font-size: 19px;
    position: relative;
    top: 2px;
    left: -10px;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table td:last-child {
    width: 130px;
}
table.table td a {
    color: #a0a5b1;
    display: inline-block;
    margin: 0 5px;
}

table.table td i {
    font-size: 19px;
}    
.pagination {
    float: right;
    margin: 0 0 5px;
}
.pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    padding: 0 10px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 30px !important;
    text-align: center;
}
.pagination li a:hover {
    color: #666;
}	
.pagination li.active a {
    background: #DDc9A3;
}
.pagination li.active a:hover {        
    background: #DDc9A3;
}
.pagination li.disabled i {
    color: #ccc;
}
.pagination li i {
    font-size: 16px;
    padding-top: 6px
}
.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}